<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>petmark</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e2d983">  <td>18/09/13 18:23:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BreedsOfDog.BreedsOfDog()[pri:0, instance:testcases.BreedsOfDog@589b3632]">BreedsOfDog</td> 
  <td>main@63468833</td>   <td></td> </tr>
<tr bgcolor="79bb86">  <td>18/09/13 18:23:03</td>   <td>-640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OpenMainPage.openMainPage()[pri:0, instance:testcases.OpenMainPage@18a70f16]">openMainPage</td> 
  <td>main@63468833</td>   <td></td> </tr>
<tr bgcolor="9abfbe">  <td>18/09/13 18:22:57</td>   <td>-7204</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:testcases.BreedsOfDog@589b3632]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@63468833</td>   <td></td> </tr>
<tr bgcolor="9abfbe">  <td>18/09/13 18:23:11</td>   <td>6747</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:testcases.BreedsOfDog@589b3632]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@63468833</td>   <td></td> </tr>
</table>
