<h2>Reporter output</h2><table><tr><td>Page Affenpinscher is here!!!</td></tr>
<tr><td><a target='_blank' <a href='C:\Users\mihai.vaman\Desktop\alert pop-up.JPG'>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><a target='_blank' <a href='C:\Users\mihai.vaman\Desktop\alert pop-up.JPG'><img src='C:\Users\mihai.vaman\Desktop\alert pop-up.JPG' height=200 width=600></img></a></td></tr>
</table>